---  
layout: main 
title: Home
exclude_from_nav: true
---

{% capture notes %}
<a href = "{{ site.baseurl }}/notes/">Notes</a>
{% endcapture %}

{% capture hw %}
<a href = "{{ site.baseurl }}/assignments/">Assignments</a>
{% endcapture %}

{% capture exam %}
<a href = "{{ site.baseurl }}/exams/">Exams</a>
{% endcapture %}


<! -- start here -->
<p><b>01/29/2025</b>: {% include hwRef.html hwLabel = "Lab 1" %} posted (Due: Thursday, 02/06/2025)</p>
<p><b>01/18/2025</b>: Welcome to <b style = "color: red"> Introduction to Bioinformatics </b> for the Spring 2025 Semester! This page will be used to provide course material for CSC-314.  Please see the links above for more information. </p>
{% comment %}
<p><b>04/02/2025</b>: {% include hwRef.html hwLabel = "Lab 10" %} posted (Due: Thursday, 4/04/2025; you cannot use your grace period)</p>
<p><b>03/26/2025</b>: {% include hwRef.html hwLabel = "Lab 9" %} posted (Due: Tuesday, 4/02/2025)</p>
<p><b>03/20/2025</b>: {% include hwRef.html hwLabel = "Lab 8" %} posted (Due: Tuesday, 3/26/2025)</p>
<p><b>02/29/2025</b>: Labs 5 and 6 posted in {% include hwRef.html hwLabel = "Assignments" %} </p> 
<p><b>02/07/2025</b>: {% include hwRef.html hwLabel = "Lab 4" %} posted (Due: Thursday, 02/15/2025)</p>
<p><b>04/28/2025</b>: See the {% include hwRef.html hwLabel = "Assignments" %} page for the remaining assignments</p>

{% endcomment %}

    <script>
    var dt = new Date()

    var dd = dt.getDate();
    if (dd < 10) {
        dd = '0' + dd;
    }
    var d = dt.getMonth() + 1 + '/' + dd + '/' + dt.getFullYear()
    var x = document.getElementsByClassName('today')[0]
    if (x.innerHTML.includes(d+'</b>')) {
        x.style.backgroundColor = 'yellow';
    }
    </script>
