---  
layout: main 
title: Home
exclude_from_nav: true
---

{% capture notes %}
<a href = "{{ site.baseurl }}/notes/">Notes</a>
{% endcapture %}

{% capture hw %}
<a href = "{{ site.baseurl }}/assignments/">Assignments</a>
{% endcapture %}

{% capture exam %}
<a href = "{{ site.baseurl }}/exams/">Exams</a>
{% endcapture %}


<! -- start here -->
<p><b>02/13/2026</b>: {% include hwRef.html hwLabel = "Lab 4" %} posted (Due: Thursday, 02/19/2026)</p>
<p><b>02/11/2026</b>: {% include hwRef.html hwLabel = "Lab 3" %} posted (Due: Thursday, 02/19/2026)</p>
<p><b>02/07/2026</b>: {% include hwRef.html hwLabel = "Lab 2" %} posted (Due: Thursday, 02/12/2026)</p>
<p><b>01/27/2026</b>: {% include hwRef.html hwLabel = "Lab 1" %} posted (Due: Thursday, 02/05/2026)</p>
<p><b>01/15/2026</b>: Welcome to <b style = "color: red"> Introduction to Bioinformatics </b> 
    for the Spring 2026 Semester! This page will be used to provide course material for CSC-314.  Please see the links above for more information. </p>
{% comment %}
<p><b>04/18/2026</b>: Lab 12 posted in {% include hwRef.html hwLabel = "Assignments" %} </p> 
<p><b>04/09/2026</b>: {% include examRef.html examLabel = "Exam II" %} will be Tuesday, April 15th </p> 
<p><b>04/28/2026</b>: See the {% include hwRef.html hwLabel = "Assignments" %} page for the remaining assignments</p>

{% endcomment %}

    <script>
    var dt = new Date()

    var dd = dt.getDate();
    if (dd < 10) {
        dd = '0' + dd;
    }
    var d = dt.getMonth() + 1 + '/' + dd + '/' + dt.getFullYear()
    var x = document.getElementsByClassName('today')[0]
    if (x.innerHTML.includes(d+'</b>')) {
        x.style.backgroundColor = 'yellow';
    }
    </script>
