---  
layout: main 
title: Home
exclude_from_nav: true
---
<p><b>2/02/2017</b>: {% include notesRef.html notesLabel = "Protein Notes" %} posted</p>
<p><b>1/31/2017</b>: {% include hwRef.html hwLabel = "Lab #2" %} posted (Due: 2/6/17)</p>
<p><b>1/29/2017</b>: {% include notesRef.html notesLabel = "Python Programming Notes" %} posted</p>
<p><b>1/26/2017</b>: {% include notesRef.html notesLabel = "Cells and DNA Notes" %} posted</p>
<p><b>1/24/2017</b>: {% include hwRef.html hwLabel = "Lab #1" %} posted (Due: 1/27/17)</p>
<p><b>1/19/2017</b>: {% include notesRef.html notesLabel = "Inheritance Notes" %} posted</p>
<p><b>1/15/2017</b>: Welcome to <b style = "color: red"> Introduction to Bioinformatics </b> for the Spring 2017 Semester! This page will be used to provide course material for CSC-314.  Please see the links above for more information. </p>

